<header class="app-header">
  <div class="container">
    <h1 class="site-title">SistersMade</h1>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"> Accueil </a></li>
        <li><a routerLink="/community" routerLinkActive="router-link-active"> Communauté </a></li>
        <li><a routerLink="/profile" routerLinkActive="router-link-active"> Mon profil </a></li>
      </ul>
    </nav>
  </div>
</header>
